# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
*.env

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Environment variables
.env
.env.*

# Misc
*.sqlite3
*.db

# Streamlit deployment
.streamlit/secrets.toml